.table{
    margin: auto;
    margin-top: 60px;
    button{
        border: 3px solid white;
        border-radius: 50%;
        font-size: 40px;
        width: 70px;
        height: 70px;
        background: transparent;
        margin-bottom: 20px;
        color: white;
        cursor: pointer;
        font-weight: 400;
        &:active{
            transform: scale(1.1);
        }
    }
    .table__content{
        background: #f1f1f1;
        width: 1000px;
        border: 2px solid #000;
        border-collapse: collapse;
        font-family: cursive;
        th{
            background: rgb(241, 229, 229);
            text-align: left;
            padding: 10px 10px;
            border: 2px solid #00000047;
            color: #00000085;
            &:hover{
                color: #cd17ee;
                cursor: pointer;
            }
        }
      
        tr{
            &:nth-child(even){
                background: #f1f1f1;
            }
        }
    }

}

@media (max-width:800px) {
    .table{
        &__wrapper{
           width: 100%;
           overflow: auto;
        }
        &__content{
            width: 800px;
        }
    }
}